@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
.up-content {
  display: grid;
  grid-template-columns: 6fr 0.5fr 0.5fr;
  height: 60px;
}
.logo {
  color: aliceblue;
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 95%;
  width: 90px;
  cursor: pointer;
}
.img {
  max-width: 100%;
  height: auto;
  background: none;
}
.projects {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.contact {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  font-family: "Montserrat", sans-serif;
}
ul {
  display: inline-block;
}
