.up-content {
  display: grid;
  grid-template-columns: 6fr 0.5fr 0.5fr;
  height: 60px;
}
.logo {
  color: aliceblue;
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 60px;
  width: 50px;
  cursor: pointer;
}
.img {
  max-width: 100%;
  height: auto;
}
.projects {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.contact {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
ul {
  display: inline-block;
}
